
<app-header></app-header>
<app-carosel></app-carosel>
<div class="row">
  <div class="col-8">
<h1 style="background-color:gray; color: black;">Patient care service</h1>
<p>Knowing how to write a paragraph is incredibly important. It’s a basic aspect of writing, and it is something that everyone should know how to do. There is a specific structure that you have to follow when you’re writing a</p>
  </div>
  <div class="col-4">

   <h1>There are a few helpful tips and tricks you can learn to help you write a paragrap</h1>
  </div>
</div>
<app-footer></app-footer>