
<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>
<div class="container">
    <h1 style="background-color: #17A2B8; height: 60px;"> <p style="margin-left: 500px;">Health Magazine</p></h1>
</div>
<table class="container table caption-top">
    
        
            <tr>
                <th><p class="tt">সম্পাদকীয়</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>    
             </tr>
             
             <tr>
                <th><p class="tt">সূচি</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>  
             </tr>
             
             <tr>
                <th><p class="tt">হাঁটুন ঘাম ঝরিয়ে</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>    
             </tr>
             
             <tr>
                <th><p class="tt">টিপস (শীতে লবণ চিকিৎসা)</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>  
             </tr>
             <tr>
                <th><p class="tt">ফিজিক্যাল মেডিসিন</p></th>   
                <th><p class="tr">Sl/No</p></th>    
             </tr>
             
             <tr>
                <th><p class="tt">শিশু স্বাস্থ্য</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>  
             </tr>
             <tr>
                <th><p class="tt">প্রসঙ্গ (অতুলনীয় পুষ্টি সমৃদ্ধ ভাতের মাড়)</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>    
             </tr>
             
             <tr>
                <th><p class="tt">মওসুমি স্বাস্থ্য সতর্কতা</p></th>   
                <th><p class="tr">বিস্তারিত জানার জন্য এখানে ক্লিক করুন</p></th>  
             </tr>
           
           
      
    
</table>
<app-footer></app-footer>
