<!-- home start -->
<div class="mainRow">
    <nav style="height: 30px;" class="pt-2">
      <ul class="ullist d-flex flex-row justify-content-center gap-5 align-items-around ">
        <li> <a href="index.html" style="margin-top: 30px;" routerLink="/home">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/contact" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">About Ibne sinha Trust</a></li>
            <li><a class="dropdown-item" href="#">Mission & Vission</a></li>
            <li><a class="dropdown-item" href="#">Bord & Trustee</a></li>
            <li><a class="dropdown-item" href="#">Awords</a></li>
          </ul>
        </li> 
        <!-- about us end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Find a Doctor
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">DEpartment Wise</a></li>
            <li><a class="dropdown-item" href="#">Branc Wise</a></li>
            <li><a class="dropdown-item" href="#">Doctor name Wise</a></li>
          </ul>
        </li> 
        <!-- find a doctor end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Our servicos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Hospital Service</a></li>
            <li><a class="dropdown-item" href="#">Home service in COVID-19</a></li>
            <li><a class="dropdown-item" href="#">Setuations</a></li>
          </ul>
        </li> 
        <!-- our service end -->
        <li> <a href="index.html" style="margin-top: 30px;">Patien Care</a></li>
        <!-- patien care end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our units
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ibne sinha Daygonastic and imging Center</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> 
        <!-- our unit end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Publications
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> 
        <!-- publication end -->
        <li> <a href="index.html" style="margin-top: 30px;">Contuct Us</a></li>
        <!-- contact us end -->
        <img src="assets/image/search.png" class="img-fluid" style="height: 25px; width: 25px;" alt="...">
  
      </ul>
    </nav>
  </div>
<!-- home end -->

<!-- marque start -->
<marquee class="mr" style="font-size: 25px; color: red;">বিনামূল্যে হাঁটু ও ঊরুসন্ধি প্রতিস্থাপন অপারেশন ক্যাম্প (তারিখ: ৩, ৪ ও ৫ মার্চ ২০২৪)</marquee>
<!-- marque end -->

<!-- carosel start -->

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/image/a1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/image/a2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/a3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/a4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/a5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/a6.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/image/a7.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="bt">
  <div class="col-12">

  </div>
</div>
<!-- carosel end -->
