<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>

<div class="container bt">
    <h1 style="margin-left: 400px;">FIND YOUR DOCTOR</h1>
</div>

<form>
    <div class="container">
        <label for="exampleInputEmail1" class="form-label" style="color: #17A2B8;"><h6> <b>Search by Doctor Name:</b></h6></label>
   <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please write your Doctor Name" >
    
    </div>
</form>
<app-footer></app-footer>

