<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>
<div class="container">
    <h1 style="background-color: #17A2B8; height: 60px;">
        <p style="margin-left: 500px;">Contact Us</p>
    </h1>
</div>

<section class="container rt">
    <div class="row">

        <div class="col-6" ct>
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Vision</h4><br>
                <p>To become the most trusted premier institution</p>
                <p>To be on a planet devoid of the distressedbr <br> and the diseased;
                    To be at the level where help is <br>sought to save lives;
                    To be an institution that rises above pettiness to help humanity;</p>
            </section>
        </div>
        <div class="col-6">
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Mission:</h4><br>
                <p>To become the most trusted premier institution</p>
                <p>To become the most trusted premier institution <br>serving the sufferings of humanity <br>and people’s welfare oriented activities.</p>
            </section>
        </div>



    </div>
</section>

<app-footer></app-footer>
