<!-- <app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>
<app-carosel></app-carosel>
<app-about></app-about>
<app-branch></app-branch>
<app-from></app-from>
<app-footer></app-footer>
 <app-home></app-home>
 <app-trust></app-trust>
 <app-bord></app-bord>
<app-awards></app-awards>
<app-project></app-project>
<app-department></app-department> 
  <app-branchwaisedoctor></app-branchwaisedoctor> 
 <app-doctorname></app-doctorname>
<app-hospitalservice></app-hospitalservice>
<app-covid></app-covid>
<app-diagnasticservice></app-diagnasticservice>
<app-halthmagagin></app-halthmagagin>
<app-contuct></app-contuct>
<app-patient></app-patient> 
 <app-mission></app-mission> -->



<router-outlet></router-outlet>
