<div class="container ht">
    <form (ngSubmit)="save()">
        <div class="mb-3">
          <label for="id" class="form-label">Id</label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id">
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
          </div>

          <div class="mb-3">
            <label for="round" class="form-label">Round</label>
            <input type="text" class="form-control" id="round" name="round" [(ngModel)]="round">
          </div>

        <button type="submit" class="btn btn-primary" >Submit</button><br><br>
        <h4><a routerLink="/form" class="link-primary" routerLink="/table">Show Data</a></h4>
         

      </form>
</div>
