<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>

<div class="container bt">
    <h1 style="margin-left: 400px;">Patient Care Service</h1>
</div>

<section>
    <div class="row">
        <div class="col-6">
            <form>
                <div class="container">
                    <label for="exampleInputEmail1" class="form-label" style="color: #17A2B8;"><h6> <b>Select Branch Name:</b></h6></label>
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search Branch Name" >
                
                </div>
                <div class="container">
                    <label for="exampleInputEmail1" class="form-label" style="color: #17A2B8;"><h6> <b>Select Patient Care Service:</b></h6></label>
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search Patient Care Service" >
                
                </div>
            </form>
        </div>
        <div class="col-6">
            
                <h5 class="rt">
                    <h5 style="margin-left: 150px;padding-top: 10px; color: white;">Latest News </h5>
                </h5>
           
            <body style="width: 435px;height: 700px;">
                <div class="main">
                    <marquee class="marq" bgcolor="Green" style="background-color:white" direction="up"
                        loop="">
                        <div class="geek1" style="color: rgb(0, 255, 76); font-size: 15pt;">
                            <div>
                                <p>বিনামূল্যে হাঁটু ও ঊরুসন্ধি প্রতিস্থাপন অপারেশন ক্যাম্প (তারিখ: ৩, ৪ ও ৫ মার্চ ২০২৪)
                                </p>
                            </div>
                            <hr>
                            <div>
                                <p>সতর্কীকরণ বিজ্ঞপ্তি</p>
                            </div>
                            <hr>
                            <div>
                                <p>হজ প্যাকেজ ১,১০০ টাকা</p>
                            </div>
                            <hr>
                            <div>
                                <p>ইবনে সিনা স্বাস্থ্য সেবা কেন্দ্রে চাকুরির নামে বিজ্ঞপ্তির প্রতিবাদ/ ইবনে সিনা
                                    স্বাস্থ্য সেবা কেন্দ্রে চাকুরির বিজ্ঞপ্তির বিষয়ে সতর্কীকরণ প্রেস বিজ্ঞপ্তি</p>
                            </div>
                            <hr>
                            <div>
                                <p>শাহিনুর আক্তার তানিয়ার রুহের মাগফরোত কামনা করে ইফতার ও দোয়া মাহফলি</p>
                            </div>
                            <hr>
                            <div>
                                <p>শাহিনুর আক্তার তানিয়া হত্যার প্রতিবাদে মানব বন্ধন পালন</p>
                            </div>
                            <hr>
                        </div>
                    </marquee>
                </div>
            </body>

            <div>
                <img src="assets\image\ad_ibn_sina.png" alt="" style="width: 440px; height: 400px;">
            </div>
            <div style="margin-top: 20px;">
                <img src="assets\image\magazine.jpg" alt="" style="width: 440px; height: 400px;">
            </div>

        </div>
        
    </div>
    
</section>
<app-footer></app-footer>


