<section class="container cl">
    <div class="container">
        <div class="row">
          <div class="col-2">
           <img class="logo" src="assets\images\Health-care-logo.png" alt="">
          </div>
          <div class="col-2">
           <img class="coll_icon" src="assets\images\coll_icon.png" alt=""><span><a href="tel:+4733378901">01789639995</a></span>
          </div>
          <div class="col-4">
           <img class="gmail" src="assets\images\gmail.png" alt=""><span><a href="tel:+4733378901">ariful155367@gmail.com</a></span>
          </div>
          <div class="col-1">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/adminlogin"> Login</a>
                </li>
              </ul>
          </div>
         
          <div class="col-1">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/appointment">Appointment</a>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/search">My Account</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
</section>
<section class="container">
  <div style="padding-top: 10pz; background-color:#F57F20" class="mainRow">
    <nav style="height: 30px;" class="pt-2">
      <ul class="ullist d-flex flex-row justify-content-center gap-5 align-items-around ">

        <li> <a style="color: white;" href="index.html">Home</a></li>
        <li> <a style="color: white;" href="#">Nursing Services</a></li>
        <li> <a style="color: white;" href="#">Other Services</a></li>
        <li> <a style="color: white;" href="#">Oxigen</a></li>

        <li> <a style="color: white;" href="#">Services</a></li>
        <li> <a style="color: white;" href="#">Shop</a></li>
        <li> <a style="color: white;" href="location.html">Contuct</a></li>
        <li> <a style="color: white;" href="#">Blog</a></li>
        
        <li> 
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </li>


      </ul>


    </nav>
  </div>
</section>
