<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>
<div class="container">
    <h1 style="background-color: #17A2B8; height: 60px;">
        <p style="margin-left: 500px;">Contact Us</p>
    </h1>
</div>

<section class="container rt">
    <div class="row">

        <div class="col-6" ct>
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Ibn Sina Diagnostic & Imaging Center, Dhanmondi</h4><br><br>
                <p>House 48, Road 9/A, Dhanmondi, Dhaka-1209</p>
                <p>+88 02 48115270-2, +88 02 48114040-1,<br> +88 02 9101950-2, +88 02 9102024-5, +88 02 88111231, +88 02
                    88111234, +88 02 88111247,<br> +88 02 88111152, +88 02 88111884, +88 09610010615</p>
            </section>
        </div>
        <div class="col-6">
            <h3 style="margin-left: 100px; color: blue;margin-top: 20px;">Location Map:</h3>
            <img src="assets\image\map.png" alt=""
                style="height: 180px; width: 400px; margin-left: 100px; margin-top: 10px;">
        </div>



    </div>
</section>

<section class="container rt">
    <div class="row">

        <div class="col-6" ct>
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Ibn Sina Diagnostic & Imaging Center, Dhanmondi</h4><br><br>
                <p>House 48, Road 9/A, Dhanmondi, Dhaka-1209</p>
                <p>+88 02 48115270-2, +88 02 48114040-1,<br> +88 02 9101950-2, +88 02 9102024-5, +88 02 88111231, +88 02
                    88111234, +88 02 88111247,<br> +88 02 88111152, +88 02 88111884, +88 09610010615</p>
            </section>
        </div>
        <div class="col-6">
            <h3 style="margin-left: 100px; color: blue;margin-top: 20px;">Location Map:</h3>
            <img src="assets\image\map.png" alt=""
                style="height: 180px; width: 400px; margin-left: 100px; margin-top: 10px;">
        </div>



    </div>
</section>

<section class="container rt">
    <div class="row">

        <div class="col-6" ct>
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Ibn Sina Diagnostic & Imaging Center, Dhanmondi</h4><br><br>
                <p>House 48, Road 9/A, Dhanmondi, Dhaka-1209</p>
                <p>+88 02 48115270-2, +88 02 48114040-1,<br> +88 02 9101950-2, +88 02 9102024-5, +88 02 88111231, +88 02
                    88111234, +88 02 88111247,<br> +88 02 88111152, +88 02 88111884, +88 09610010615</p>
            </section>
        </div>
        <div class="col-6">
            <h3 style="margin-left: 100px; color: blue;margin-top: 20px;">Location Map:</h3>
            <img src="assets\image\map.png" alt=""
                style="height: 180px; width: 400px; margin-left: 100px; margin-top: 10px;">
        </div>



    </div>
</section>

<section class="container rt">
    <div class="row">

        <div class="col-6" ct>
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Ibn Sina Diagnostic & Imaging Center, Dhanmondi</h4><br><br>
                <p>House 48, Road 9/A, Dhanmondi, Dhaka-1209</p>
                <p>+88 02 48115270-2, +88 02 48114040-1,<br> +88 02 9101950-2, +88 02 9102024-5, +88 02 88111231, +88 02
                    88111234, +88 02 88111247,<br> +88 02 88111152, +88 02 88111884, +88 09610010615</p>
            </section>
        </div>
        <div class="col-6">
            <h3 style="margin-left: 100px; color: blue;margin-top: 20px;">Location Map:</h3>
            <img src="assets\image\map.png" alt=""
                style="height: 180px; width: 400px; margin-left: 100px; margin-top: 10px;">
        </div>



    </div>
</section>

<section class="container rt">
    <div class="row">

        <div class="col-6" ct>
            <section class="container ct" style="background-color: white;">
                <h4 style="margin-left: 15px; color: blue;">Ibn Sina Diagnostic & Imaging Center, Dhanmondi</h4><br><br>
                <p>House 48, Road 9/A, Dhanmondi, Dhaka-1209</p>
                <p>+88 02 48115270-2, +88 02 48114040-1,<br> +88 02 9101950-2, +88 02 9102024-5, +88 02 88111231, +88 02
                    88111234, +88 02 88111247,<br> +88 02 88111152, +88 02 88111884, +88 09610010615</p>
            </section>
        </div>
        <div class="col-6">
            <h3 style="margin-left: 100px; color: blue;margin-top: 20px;">Location Map:</h3>
            <img src="assets\image\map.png" alt=""
                style="height: 180px; width: 400px; margin-left: 100px; margin-top: 10px;">
        </div>



    </div>
</section>

<app-footer></app-footer>