<form (ngSubmit)="save()">
    <div class="row mb-3">
      <label for="id" class="col-sm-2 col-form-label" > Id</label>
      <div class="col-sm-10">
        <input type="text" name="id" id="id" [(ngModel)]="id">
      </div>
    </div>
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label"> Name</label>
        <div class="col-sm-10">
          <input type="text" name="name" id="name" [(ngModel)]="name">
        </div>
    </div>

    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label"> Email</label>
        <div class="col-sm-10">
          <input type="text" name="email" id="email" [(ngModel)]="email">
        </div>
    </div>

    <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label"> Password</label>
        <div class="col-sm-10">
          <input type="text" name="password" id="password" [(ngModel)]="password">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

