<!-- home start -->
<div class="mainRow">
    <nav style="height: 30px;" class="pt-2">
      <ul class="ullist d-flex flex-row justify-content-center gap-5 align-items-around ">
        <li> <a href="index.html" style="margin-top: 30px;" routerLink="/home">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/contact" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/about">About Ibne sinha Trust</a></li>
            <li><a class="dropdown-item" routerLink="/mission">Mission & Vission</a></li>
            <li><a class="dropdown-item" routerLink="/bord">Bord & Trustee</a></li>
            <li><a class="dropdown-item" routerLink="/awards">Awords</a></li>
            <li><a class="dropdown-item" routerLink="/project">Ongoing Projrcts</a></li>
          </ul>
        </li> 
        <!-- about us end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Find a Doctor
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/department">Department Wise</a></li>
            <li><a class="dropdown-item" routerLink="/doctorname">Doctor name Wise</a></li>
            <li><a class="dropdown-item" routerLink="/branchwaisedoctor">Brunch Wise Doctor</a></li>
          </ul>
        </li> 
        <!-- find a doctor end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Our servicos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/hospitalservice">Hospital Service</a></li>
            <li><a class="dropdown-item" routerLink="/covid">Home service in COVID-19 setuations</a></li>
            <li><a class="dropdown-item" routerLink="/diagnasticservice">Diagnastic Service</a></li>
          </ul>
        </li> 
        <!-- our service end -->
        <li> <a href="index.html" style="margin-top: 30px;" routerLink="/patient">Patien Care</a></li>
        <!-- patien care end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our units
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/diagnasticservice">Ibne sinha Daygonastic and imging Center</a></li>
            <li><a class="dropdown-item" routerLink="/project">Another action</a></li>
            <li><a class="dropdown-item"routerLink="/project">Something else here</a></li>
          </ul>
        </li> 
        <!-- our unit end -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Publications
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/halthmagagin">Halth Magagin</a></li>
            <li><a class="dropdown-item" href="#">ALast News</a></li>
           
          </ul>
        </li> 
        <!-- publication end -->
        <li> <a href="index.html" style="margin-top: 30px;" routerLink="/contuct">Contuct Us</a></li>
        <!-- contact us end -->
        <img src="assets/image/search.png" class="img-fluid" style="height: 25px; width: 25px;" alt="...">
  
      </ul>
    </nav>
  </div>
<!-- home end -->
