 <!-- footer section start -->
 <div class="footer_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-sm-6">
             <!-- <div class="footer_logo"><a href="index.html"><img src="images\Healthcarelogo.png"></a></div> -->
             <h1 class="adderss_text">Contact Us</h1>
             <div class="map_icon"><img src="assets\images\footer\map-icon.png"><span class="paddlin_left_0">ka-58,Uttar Baridhara,Kalachandpur,Gulsan-2,Dhaka-1010</span></div>
             <div class="map_icon"><img src="assets\images\footer\call-icon.png"><span class="paddlin_left_0">01914777700</span></div>
             <div class="map_icon"><img src="assets\images\footer\mail-icon.png"><span class="paddlin_left_0">safety24care.service@gmail.com</span></div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">Services</h1>
             <div class="hiphop_text_1">We provide experience and expert PCA/ Word boy for any patients at your home.</div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">
                Emergency Services</h1>
             <div class="Useful_text">njection Pushing
                Cannula Insert
                NG Tube Insert
                Catheter Insert
                Dressing</div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h1 class="adderss_text">Newsletter</h1>
             <input type="text" class="Enter_text" placeholder="Enter your Emil" name="Enter your Emil">
             <div class="subscribe_bt"><a href="#">Subscribe</a></div>
             <div class="social_icon">
                <ul>
                   <li><a href="#"><img src="assets\images\footer\fb-icon.png"></a></li>
                   <li><a href="#"><img src="assets\images\footer\twitter-icon.png"></a></li>
                   <li><a href="#"><img src="assets\images\footer\linkedin-icon.png"></a></li>
                   <li><a href="#"><img src="assets\images\footer\instagram-icon.png"></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->
