<!-- footer start -->
<section class="kl">

    <div class="container">
      <div class="row">
        <div class="col-5">
          <img src="assets/image/logo.png" style="height: 60px; width: 200px;" alt="">
          <p style="color: white; margin-top: 10px;">To serve the humanity as a whole with this noble vision the Ibn Sina
            Trust started its journey in June 1980. The trust has agreed upon to provide health care service to the people
            of Bangladesh with affordable cost.</p>
          <div class="row">
            <div class="col-1">
              <img src="assets/image/placeholder.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-11">
              <p style="color: white;"> House # 48, Road # 9/A, Dhanmondi, Dhaka 1209</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-1">
              <img src="assets/image/phone-call.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-11">
              <p style="color: white;"> Hotline: 10615, +88 09610010615</p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-1">
              <img src="assets/image/email.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-11">
              <p style="color: white;"> info@ibnsinatrust.com</p>
            </div>
          </div>
          <!-- logo -->
          <div class="row">
            <div class="col-1">
              <img src="assets/image/facebook-circular-logo.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-1">
              <img src="assets/image/linkedin.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-1">
              <img src="assets/image/black.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-1">
              <img src="assets/image/youtube.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-2"></div>
            <div class="col-2"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
            <div class="col-1"></div>
          </div>
          <!-- logo end -->
  
        </div>
        <div class="col-2">
          <h5 style="color: #37C7BE; margin-top: 40px;">Visitor Counter</h5>
          <div class="row">
            <div class="col-2">
              <img src="assets/image/black.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-10">
              <p style="color: white;">Total visitor: 7348</p>
            </div>
  
          </div>
  
          <div class="row">
            <div class="col-2">
              <img src="assets/image/black.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-10">
              <p style="color: white;">Tuniq visitor:1682</p>
            </div>
  
          </div>
  
          <div class="row">
            <div class="col-2">
              <img src="assets/image/black.png" style="height: 20px; width: 20px;" alt="">
            </div>
            <div class="col-10">
              <p style="color: white;">Page visitor: 2730</p>
            </div>
  
          </div>
        </div>
        <div class="col-5">
          <h5 style="color:#37C7BE; margin-top: 40px;">Contact Us</h5>
          <div class="mb-3">
  
            <input type="email" class="form-control" id="exampleFormControlInput1"
              style="background-color:#242626; color: white;" placeholder="Email">
          </div>
  
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="height: 100px"></textarea>
            <label for="floatingTextarea2" style="color: white;">Massege</label>
          </div>
          <button
            style="height: 40px; width: 100px; color: white; background-color: #37C7BE; margin-top: 10px; ">Submit</button>
        </div>
      </div>
    </div>
  
  </section>
  <!-- footer end -->

