<!-- p start -->
 <app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>
<div class="pr">
    <div class="hp">
      <h1>About Ibn Sina Specialized Hospital,Dhanmondi</h1>
    </div>
  </div>
  <hr>
  
  <p class="container pp">The Ibn Sina Hospital was established in July 1983, Keeping in Pace with continuous development
    of medical technologies,Ibn Sina hospital has been rendering its services in the field of Medicine (Internal, Neuro,
    Nephro, Gastro-liver, Cardiac, Onco, Endocrine etc.), Surgery, Gynae, Neuro surgery, Spine Surgery, Knee Surgery,
    colorectal Surgery, Orthopedics Surgery, urology etc. It provides tertiary level of medical care in those fields.
    Besides it has opened a new horizon in Laparoscopic Abdominal and colorectal Surgery. With affordable cost it gives
    services to the ever increasing number of kidney patients through its dialysis unit equipped with most modern
    equipment and backed by a dedicated medical team.</p>
  <p></p>
  <p class="container pp">Ibn SinaHospital is proud of its ICU unit for rendering round the clock intensive care services
    with the help of most modern and sophisticated equipments supported by a very dedicated, skilled, and efficient team
    of doctors, nurses and other staffs. Ibn Sina Hospital has 8 well equipped operation theater where C-Arm, Operating
    Microscope available to make operation more effective.</p>
  
  <h1 class="container">Hospital Services</h1>
  <hr>
  <app-footer></app-footer>
  <!-- p end -->

