<h1>All post</h1>
<table class="table stripe">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Round</th>
    </tr>
    <tr *ngFor="let i of allStudent">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.round}}</td>
    </tr>
</table>
<div class="container">
<form (ngSubmit)="save()">
    <div class="mb-3">
      <label for="id" class="form-label">Id</label>
      <input type="number" class="form-control" id="id" name="id" aria-describedby="emailHelp" [(ngModel)]="id">
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" [(ngModel)]="name">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" [(ngModel)]="email">
      </div>

    <div class="mb-3">
      <label for="email" class="form-label">Round</label>
      <input type="number" class="form-control" id="round" name="round" [(ngModel)]="round">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>



