
<section class="container bt">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                <div class="card-body">
                  <h5 class="card-title">Admin Login</h5>
                  <form (ngSubmit)="login()">
                    <div class="mb-3">
                      <label for="a_id" class="form-label">Id</label>
                      <input type="text" class="form-control" id="a_id" name="a_id" [(ngModel)]="a_id"> 
                    </div>
                    <div class="mb-3">
                        <label for="p_name" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="p_name" name="p_name" [(ngModel)]="p_name"> 
                      </div>
                    <button type="submit"  class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
        </div>
        <div class="col-4"></div>
    </div>
</section>





