<section>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h5><b>Ibn Sina Specialized Hospital, Dhanmondi</b></h5>
          <table style="width:100%" class="tf">
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Home Service in COVID-19 Situation</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Ward/Cabin Information</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Emergency</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Obstetrics and Gynae</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Stroke ICU with full support</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">ICU</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">NICU</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">PICU</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Blood Bank</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Dialysis</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Surgery</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Neurosurgery Center</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Cardiac center</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Oncology center</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">CSSD</a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-6">
          <h5><b>Ibn Sina Medical College Hospital, Kallyanpur</b></h5>
          <table style="width:100%" class="tf">
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Hip & Knee free Medical Camp-2022</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Home Service in COVID-19 Situation</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Ward/Cabin Information</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Emergency</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Obstetrics and Gynae</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">ICU</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">OPD</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Blood Bank</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Dialysis</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="text-decoration-none">Surgery</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  
  </section>
