<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>

<div class="container bt">
    <h1 style="margin-left: 400px;">Board of Trustee</h1>
</div>
<div class="container" style="height: 100px;">
    <p style="font-size: 14pt;">Since its inception, The Ibn Sina Trust has been run by an Honorary Trustee Board. The leaders and forerunners are in their respective fields of proficiency, they are pillars of strength on whose able guidance the trust has come this far:</p>
</div>
 <hr class="container">
<div class="container">
<div class="row">
    <div class="col-10">
       <h5 style="margin-left: 300px;"><b> Professor Dr. Choudhury Mahmood Hasan </b></h5>
        <p style="font-size: 14pt;">Chairman of the Board of Trustee. Professor and Former Dean of the Department of Pharmacy, University of Dhaka, Former Director General, Bangladesh Drug Administration. Former Chairman, Bangladesh Council of Scientific & Industrial Research (BCSIR). Educationist and Scientist.</p>
    </div>
    <div class="col-2">
        <img src="assets\image\Dr.5.jpg" alt="" style="height: 200px;width: 160px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
    </div>
</div>
</div>
<hr class="container">

<div class="container">
    <div class="row">
        <div class="col-10">
           <h5 style="margin-left: 300px;"><b>Prof. Abu Naseer Mohammad Abduz Zaher </b></h5>
            <p style="font-size: 14pt;">Member of the Board of Trustee, Former Chairman of Islami Bank Bangladesh Ltd., former managing director of Ibn Sina Pharmaceutical Industry Ltd., Founder Member of Manarat International School & College. A dignified social worker.</p>
        </div>
        <div class="col-2">
            <img src="assets\image\ShamsuddinAhmed.png" alt="" style="height: 200px;width: 160px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
        </div>
    </div>
    </div>
    <hr class="container">

    <div class="container">
        <div class="row">
            <div class="col-10">
               <h5 style="margin-left: 300px;"><b> Prof. Dr. A.K.M. Sadrul Islam </b></h5>
                <p style="font-size: 14pt;">Member Administration of the Board of Trustee. Managing Director, Ibn Sina Pharmaceutical Industry Ltd. Former Professor and Chairman of the Department of Mechanical Engineering, Bangladesh University of Engineering and Technology (BUET). Former Director, Islami Bank Bangladesh Limited. Educationist and Education patron.	</p>
            </div>
            <div class="col-2">
                <img src="assets\image\Dr.6.jpg" alt="" style="height: 200px;width: 160px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
            </div>
        </div>
        </div>
        <hr class="container">

        
        <div class="container">
            <div class="row">
                <div class="col-10">
                   <h5 style="margin-left: 300px;"><b> Kazi Harun Or Rashid </b></h5>
                    <p style="font-size: 14pt;">Member Finance of the Board of Trustee, Former Chairman Islami Bank Bangladesh Limited. Chairman Chauni Properties Limited. Vice Chairman Industrialists & Businessman Welfare Foundation. Former Member of Islami Bank Foundation. Vice Chairman of Uddam Foundation. Renowned Businessman & Social Worker.</p>
                </div>
                <div class="col-2">
                    <img src="assets\image\Dr.7.jpg" alt="" style="height: 200px;width: 160px; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                </div>
            </div>
            </div>
            <hr class="container">

            <app-footer></app-footer>
        

    

        
