


<section class="container">
    <div class="main"> 
        <marquee class="marq"  
                 direction="left" loop=""> 
            
            <div class="geek1"> 
                <hr>
                Nursing Home Service||Neuro Patients Home Servic||Home Care For ICU Patients||Baby Care At Home
                <hr>
            </div> 
            
        </marquee> 
    </div> 
</section>

    <div class="container rt">
 

            <div class="accordian">
                <ul>
                    <li>
                        <div class="image_title">
                            <a href="#">KungFu Panda</a>
                        </div>
                        <a href="#">
                            <img src="https://picsum.photos/530/290/?random=1" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Toy Story 2</a>
                        </div>
                        <a href="#">
                            <img src="https://picsum.photos/530/290" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Wall-E</a>
                        </div>
                        <a href="#">
                            <img src="https://picsum.photos/530/290/?random=1" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Up</a>
                        </div>
                        <a href="#">
                            <img src="https://picsum.photos/530/290?random=1" />
                        </a>
                    </li>
                    <li>
                        <div class="image_title">
                            <a href="#">Cars 2</a>
                        </div>
                        <a href="#">
                            <img src="https://picsum.photos/530/290/" />
                        </a>
                    </li>
                </ul>
            </div>

        </div>

