<app-header></app-header>
<app-nabver></app-nabver>
<app-marque></app-marque>

<div class="container bt">
    <h1 style="margin-left: 400px;">FIND YOUR DOCTOR</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <label for="name" class="form-label" style="color: #17A2B8;"> <b>Select Branch Name : </b></label><br>
                <select name="" id="" style="width: 500px; height: 60px;">
                    <option value="Dhaka">Ibnesina spasial Hospital Dhanmondi</option>
                    <option value="Gazipur">Ibne sinha medical center ,Gigatola</option>
                    <option value="Mymensingh">Ibne sina madical coolege Hospital</option>
                    <option value="Jamalpur">Ibne sina madical coolege Hospital</option>
                    <option value="Kustia">Ibne sina madical coolege Hospital</option>
                    <option value="Nator">Ibne sina madical coolege Hospital</option>
                    <option value="Khulna">Ibne sina madical coolege Hospital</option>
                    <option value="Pabna">Ibne sina madical coolege Hospital</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div>
                <label for="name" class="form-label" style="color: #17A2B8;"> <b>Select Branch Name : </b></label><br>
                <select name="" id="" style="width: 500px; height: 60px;">
                    <option value="Dhaka">Select Doctor Department Name</option>

                </select>
            </div>

        </div>
    </div>

</div>

<app-footer></app-footer>